* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}

header{
    background-color: #333;
    position: fixed;
    width: 100vw;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

header nav a{
    color: white;
    padding: 8px;
    transition: background 1s;
}

header nav a:hover {
    background-color: aquamarine;
    color: black;
}

.grupo{
    height: 100vh ;
}

#vermelho {
    background-color: red;
}
#verde{
    background-color: greenyellow;
}
#azul { 
    background-color: blue;
}
#amarelo {
    background-color: yellow;
}
#roxo {
    background-color: purple;
}